@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(11, 3, 32);
  color: whitesmoke;
}

/* Nav bar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
}

.header.sticky {
  background: rgb(11, 3, 32);
}

.logo {
  font-size: 25px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: aqua;
}

/* Home section */
.home {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
}

.home-content {
  position: absolute;
  max-width: 600px;
}

.home-content .msg-box {
  background-color: aqua;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  color: rgb(11, 3, 32);
}

.home-content .msg-box i {
  margin-right: 5px;
}

.home-content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: aqua;
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a,
.btn-box button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background-color: aqua;
  border: 2px solid aqua;
  border-radius: 8px;
  font-size: 19px;
  color: rgb(11, 3, 32);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 600;
}

.socials {
  position: absolute;
  bottom: 40px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.socials a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  font-size: 26px;
  color: whitesmoke;
  text-decoration: none;
  transition: 0.5s;
}

.socials a:hover {
  transform: translateY(-20px);
}

.text-colour {
  color: aqua;
  font-weight: 600;
}

.text-pink {
  color: #ff2d75;
  font-weight: 600;
}

.bubbles {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.bubbles span {
  position: relative;
  width: 20px;
  height: 20px;
  background: aqua;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px aqua, 0 0 100px aqua;
  animation: animate 12s linear infinite;
  animation-duration: calc(250s / var(--i));
}

.bubbles span:nth-child(even) {
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
  background: #ff2d75;
}

/* About section */
.about {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
  background: rgb(36, 10, 101);
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.about-content h2 {
  font-size: 36px;
  font-weight: 600;
}

.about-content .about-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.about-content img {
  height: 13em;
  width: 13em;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(90%);
}

.about-content p {
  font-size: 18px;
}

/* Projects Section */
.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 10%;
}

.projects h1 {
  font-size: 40px;
}

.projects h2 {
  font-size: 30px;
  font-weight: 600;
}

.projects-content {
  display: flex;
  align-items: center;
}

.projects-content .card {
  width: 18rem;
  height: 25rem;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid whitesmoke;
  position: relative;
  margin: 10px;
}

.projects-content .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.projects-content .card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: hsla(0, 0%, 0%, 0.147);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: whitesmoke;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.6s;
}

.projects-content .card:hover .card-body {
  right: 0;
}

.projects-content .card-title {
  font-size: 36px;
  font-weight: 600;
}

.projects-content .card-info {
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 600;
}

.projects-content .card-btn {
  color: black;
  background: whitesmoke;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

/* Contact Section */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 10%;
  background: rgb(36, 10, 101);
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-content h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
}

.contact-content form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.contact-content form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-content form .input-box .input-field {
  position: relative;
  width: 49%;
  margin: 0.8rem 0;
}

.contact-content form .input-box .input-field input::-webkit-outer-spin-button,
.contact-content form .input-box .input-field input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-content form .input-box .input-field input,
.contact-content form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  font-size: 1.3rem;
  color: whitesmoke;
  background: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid aqua;
}

.contact-content form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #4fc3dc44;
  border-radius: 0.6rem;
  z-index: -1;
  transition: 0.5s;
}

.contact-content form .input-box .input-field input:focus ~ .focus,
.contact-content form .input-box .input-field input:valid ~ .focus,
.contact-content form .textarea-field textarea:focus ~ .focus,
.contact-content form .textarea-field textarea:valid ~ .focus {
  width: 100%;
}

.contact-content form .input-box .input-field input::placeholder,
.contact-content form .textarea-field textarea::placeholder {
  color: whi;
}

.contact-content form .textarea-field {
  position: relative;
  margin: 0.8rem 0 1.5rem;
  display: flex;
}

.contact-content form .textarea-field textarea {
  resize: none;
}

.contact-content .btn-box {
  display: flex;
  justify-content: center;
  height: 50px;
}

/* Breakpoints */
@media (max-width: 1200px) {
  .projects-content .card {
    width: 201px;
    height: 315px;
  }

  .projects-content .card-title {
    font-size: 26px;
    font-weight: 600;
  }

  .projects-content .card-info {
    font-size: 14px;
    line-height: 18px;
    margin: 12px 0;
  }

  .projects-content .card-btn {
    padding: 4px 8px;
    font-size: 14px;
  }

  .projects h1 {
    font-size: 28px;
  }

  .projects h2 {
    font-size: 22px;
  }
}

@media (max-width: 1000px) {
  .header {
    padding: 2rem 4%;
  }

  section {
    padding: 10rem 4% 2rem;
  }

  .home {
    padding: 0 4%;
  }
}

@media (max-width: 662px) {
  .home-content h1 {
    font-size: 38px;
  }

  .contact-content h2 {
    font-size: 28px;
  }

  .contact form .input-box .input-field {
    width: 100%;
  }

  .contact-content form .input-box .input-field input,
  .contact-content form .textarea-field textarea {
    font-size: 0.8rem;
  }
}

@media (max-width: 655px) {
  .projects-content .card {
    width: 144px;
    height: 225px;
  }

  .projects-content .card-title {
    display: none;
  }

  .projects-content .card-info {
    display: none;
  }

  .projects-content .card-btn {
    font-size: 16px;
  }
}

@media (max-width: 520px) {
  html {
    font-size: 50%;
  }

  .home-content h1 {
    display: flex;
    flex-direction: column;
  }

  .home-content .msg-box {
    width: max-content;
  }

  .home-content .msg-box span,
  .home-content .msg-box i {
    font-size: 16px;
  }

  .projects-content .card {
    width: 115px;
    height: 180px;
  }

  .projects h1 {
    font-size: 22px;
  }

  .projects h2 {
    font-size: 18px;
  }

  .contact-content form .input-box .input-field input,
  .contact-content form .textarea-field textarea {
    font-size: 2rem;
  }
}

/* animations */
@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0.15);
  }

  100% {
    transform: translateY(-10vh) scale(0.15);
  }
}
