@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(11, 3, 32);
  color: whitesmoke;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 25px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: aqua;
}

.home {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
}

.home-content {
  position: absolute;
  max-width: 600px;
}

.home-content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: aqua;
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background-color: aqua;
  border: 2px solid aqua;
  border-radius: 8px;
  font-size: 19px;
  color: rgb(11, 3, 32);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 600;
}

.btn-box :nth-child(2) {
  background-color: rgb(11, 3, 32);
  color: aqua;
}

.socials {
  position: absolute;
  bottom: 40px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.socials a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  font-size: 26px;
  color: whitesmoke;
  text-decoration: none;
  transition: 0.5s;
}

.socials a:hover {
  transform: translateY(-20px);
}

.text-colour {
  color: aqua;
  font-weight: 600;
}

.bubbles {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.bubbles span {
  position: relative;
  width: 20px;
  height: 20px;
  background: aqua;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px aqua, 0 0 100px aqua;
  animation: animate 12s linear infinite;
  animation-duration: calc(250s / var(--i));
}

.bubbles span:nth-child(even) {
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
  background: #ff2d75;
}

/* animations */
@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateY(-10vh) scale(0.5);
  }
}
